#!/usr/bin/make -f

VERSION=`cat debian/VERSION`

.PHONY: build
build:
	dh build
%:
	dh $@

override_dh_auto_clean:
	make clean
	rm -rf releases

override_dh_auto_build:
	make

override_dh_auto_test:
	make test

override_dh_auto_install:
	make VERSION=$(VERSION) release
	RELEASE="releases/guild_$(VERSION)_*/" debian/scripts/install
